<h1>Here are all the definitions for this Word</h1>

<ul>
  <% @words.each() do |word| %>
  <li><a href="/definitions/<%= definition.id() %>"<%= definition.definition()%></a></li>
</ul>

<p><a href="/" >Back to Home</a></p>

<a href="/word_definition_form/new">Add a new Definition</a>
