<h1>Lets Learn Some Words</h1>

<p>
  Here are all of your words
</p>

<ul>
  <% @words.each() do |word| %>
  <li><%= word.word() %></li>
  <% end %>
</ul>

<a href="/words"> See list of words</a>
<a href="/words/new">Add a new word</a>
