<form  action="/words" method="post">
  <label for="word">Fill in a word</label>
  <input type="text" name="word">

  <label for="define">What is your definition of this word</label>
  <input type="text" name="define">

  <button type="submit">Add the Word</button>
</form>
